.new-tweet {
    /* align-items: stretch;  */
     display: block; 
     /* flex-direction:  column; */
    position: relative;
    width:85%;
     box-sizing: content-box;
    padding: 2rem;
    border-radius: 7px;
    border-color: transparent;
    border-style: none;
    box-shadow: 2px 4px 10px #AAA;
    background-color: #eee;
    margin: 0 0.5em;
    
    
}
.new-tweet h2 {
    border-bottom: 1px solid black;
    margin-top: 0;
}

.new-tweet textarea { 
    resize:none; 
    position: relative;
    width: 85%;
    height: 3.7rem;
     box-sizing: content-box;   
    padding-right: none;
    padding-left: none;
}

.new-tweet .counter {
    float: right;
    font-family: 'Bungee', cursive;
    color: #393A3C;
    /* margin-right: 1em; */
    
}
#tweetButton {
    font-family: 'Bungee', cursive;
    color: #ffff;
    box-shadow: 2px 4px 10px #AAA;
    margin-top: 1em;
   
}
 .new-tweet .redcounter {
    color: red;
}