
.tweet {
    position: relative;
    width: 90%;
    padding: 1rem;
    border-color: black;
    border-style:solid;
    background-color:inherit;
    box-sizing: content-box;
    margin-top: 1em;
    margin-left: 1rem;
    margin-right: 6rem;
      
}


.tweet h3 {
    display: inline-block;
    padding-left: 1rem;
    font-size: 1.5rem;
    margin-top: 2em;
    position: relative;
    top: -1em;
    margin: 0;
}

.tweet p {
    height: 7rem;
    background-color: inherit;
    border-bottom-color: black;
    border-bottom-style: solid;

}

.tweet h4 {
    margin-top: 0;
    float: right;
}
.tweet .user_avatar {
 height: 4rem;
 width: 4rem;
}

article.tweet:hover {
    border-color: rgb(185, 211, 211);
    box-shadow: 5px 10px #888888;
    border-radius: 7px;
}

 #icons {
    float: right;
    
}

    
